<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

		<listener class-name="Common.TestListener" />

	</listeners>

			
<test name="TC_007-Sign in as student and authenticate the event ">
		<classes>
		<class name="TestFunctions.Login_Student" />
		<class name="TestFunctions.Student_AuthenticateEvent" />
		
		<class name="TestFunctions.Logout" />
		

</classes>





		
	</test> <!-- Test -->
</suite> <!-- Suite -->
